@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

body {
    background-color: #000;
    font-family: "IBM Plex Mono" , mono space;
    color: white;
    font-size: 64px;

    opacity: 1;
    transition: opacity 3s;
}

h1 {
    font-size: 1em;
}

h2 {
    font-size: .6em;
}

h3 {
    font-size: .3em;
}

.tw-icon {
    position: absolute;
    top: 90%;
    left: 1%;
    transform: translate(1% , 90%);
    font-size: 24px;
}

a {
    text-decoration: none;
    color: white;
    transition: .5s;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
}

.fd-col {
    flex-direction: column;
}

.fb-center {
    justify-content: center;
    align-items: center;
}

.center {
    text-align: center;
    line-height: 10px;
    display: inline-block;
}

.link {
    animation: breath 5s infinite;
}


.link:hover {
    transition: .5s;
    color: black;
}

.seperator {
    height: 1px;
    width: 400px;
    background-color: white;
}

.p-title {
    margin-top: 25px;
    margin-left: 25px;
}

.p-container {
    margin: 10px;
    height: 80%;
    display: flex;
    flex-direction: row;
    float: left;

}   

#p-folder {
    margin: 15px;
    font-size: .5em;
    cursor: pointer;
    text-align: center;
    user-select: none;
}

#p-folder > .p-icon {
    margin-left: 5px;
}

#p-folder > .p-text {
    margin-top: 12px;
    font-size: .4em;
    user-select: none;
}


@keyframes breath {
    0% { color: white; }
    25% { color: black; }
    50% { color: white; }
    75% { color: black; }

}